@import "vars"


@media only screen and (min-width : 2100px)
	
	.main-head 
		min-height: 1033px
	.section_1
		&:before
			top: 557px
	.section_3
		&:before
			top: 630px
	.section_6
		&:before
			top: 894px
	.section_7
		&:before
			top: 653px
	.section_10
		&:before
			top: 629px
			background-size: cover

@media only screen and (max-width : 1200px)

	.form_wrap img
		left: -70px
	.section_1
		&:before
			background-size: contain
			top: 419px
	.section_3
		&:before
			height: 445px
			top: 541px
			background-size: cover
	.slider .owl-controls .owl-nav>div
		display: none
		opacity: 0
	.owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev
		display: none
	.section_8
		min-height: 820px
		.image_wrap
			img 
				max-width: 841px
				height: auto
				float: left
				margin-top: 65px
	.section_1
		.icon_group
			.icon_wrap
				width: 20vw
				height: 20vw
				.text_wrap
					width: 20vw
					height: 20vw
					padding: 62px 30px 0 30px
				.text_wrap
					background-position: 0 0
				.text_wrap2
					background-position: -28vw 0
				.text_wrap3
					background-position: -56vw 0
				.text_wrap4
					background-position: -84vw 16px
	.section_8
		.cont_wrap 
			width: 100%
			.s_block 
				padding-left: 36%
				padding-top: 0
				.block
					margin-bottom: 43px
		.image_wrap
			img 
				max-width: 150%
		.bottom_block
			span
				position: absolute
				bottom: 316px
				left: 59%
	.section_2
		.catalog_wrap
			.title_wrap2
				padding-left: 0

	.section_2 .catalog_wrap .nav-wrap li 
		float: left
	.section_2 .catalog_wrap .nav-wrap li a
		border: 1px solid #e0e0e0
		margin: 5px
	.nav-tabs 
		border-bottom: 0
	.section_4
		.form_wrap
			img
				bottom: -46px
				left: -37px
				max-width: 57%
		.block_wrap1, .block_wrap3, .block_wrap2
			padding: 0
			text-align: center
	.section_5
		padding-top: 0
		.content_wrap
			.cont
				img 
					max-width: 100%
		.form_block
			.rectangle 
				width: 100%
				height: 558px
				top: 0
				left: 0
			.form 
				width: 90%
				left: 0
				.btn
					width: 90%
				span
					left: 81px
			h4
				line-height: 2em

	.slider .slide .slide_content2 img 
		position: relative
		border: 7px solid $main-color
		top: 0
		left: 0
	.slider .slide .slide_content2 .image_wrap
		display: none
	.slider .owl-controls .owl-dots 
		margin-top: 20px
	.section_7 
		padding-top: 145px
		&:before
			top: 844px
	.section_9
		.btn_wrap
			.btn
				width: 100%
				font-size: 15px
				span
					display: none
	.section_9
		padding-top: 10px

	.section_10
		min-height: 883px
		&:before
			height: 435px
			background-size: contain
			top: 553px
		.block_wrap
			.context_wrap
				.icon_wrap
					width: 100%
					left: 0
					position: relative
					margin-bottom: 90px
					font-size: 18px
					top: 0
					p
						font-size: 18px
						font-family: "Montserrat-Medium", sans-serif
					div
						top: -30px
						left: 20%
						span
							&:before
								left: 67px
				.icon_wrap2
					top: 0
				.icon_wrap3
					top: 0
				.icon_wrap4
					top: 0
				.icon_wrap5
					top: 0
			.image_wrap 
				display: none
	.section_8 .btn_wrap .btn 
		width: 80%

	.section_6
		&:before
			top: 635px
		
@media only screen and (max-width : 992px)

	.main-head
		.text_wrap 
			padding-left: 0
			padding-right: 0
		.wrap
			text-align: center
			.hamburger
				margin-left: 0
				margin-top: 30px
		.form_wrap img 
			bottom: -50px
			left: 260px
	.section_1
		min-height: 947px
		&:before
			top: 518px
	.section_2
		.btn_wrap
			.btn 
				width: 460px
				margin-top: 90px
		h2
			margin-bottom: 42px
		.catalog_wrap
			.title_wrap 
				margin-top: 0
				margin-bottom: 0
		.nav-wrap 
			display: inline-block
			float: left
			margin: 30px
		.tab-content
			.slider_wrap 
				margin: 30px 0
			.content_wrap2 
				margin-top: 51px
				width: 100%
	.section_3
		min-height: 760px
		&:before
			background-size: contain
			top: 496px
		.s_block
			padding-left: 26%
			.left
				p
					margin-top: 50px
				span
					margin-top: -12px
	.section_4
		padding-top: 154px
		.s_block
			padding-left: 0
		.block_wrap
			padding: 0
			width: 320px
			margin: 0
			display: inline-block
			span
				margin-top: 15px

	.section_5
		padding-bottom: 175px
		.form_block
			display: inline_block
			.form
				display: inline_block
				width: 90%
				left: -8px
				top: 7px
			.rectangle
				display: inline_block
				width: 100%
				height: 522px
	.section_6
		min-height: 654px
	.slider .owl-controls .owl-dots
		margin-top: 26px
	.section_7 .tab-pane p 
		margin: 15px 0
	.section_8
		padding-top: 30px
	.section_9 
		padding-top: 86px
		.content_wrap
			padding: 0
			.cont_wrap
				.over
					margin-top: 70px
					height: 250px
					.dark_block
						height: 338px
	.section_5 .content_wrap .cont
		padding: 30px 10px
	.section_9 .content_wrap .cont_wrap img 
		top: 75px
		left: 30%
	.section_9 .content_wrap .cont_wrap2 img
		top: 51px
		left: 30%
	.section_10 .block_wrap .context_wrap .icon_wrap div 
		top: -30px
		left: 15%
	.section_10
		&:before
			top: 627px
	.section_11
		padding-top: 0
	.footer .logo_wrap .logo img 
		margin-top: 0
		width: 85px
	.section_1 .icon_group .icon_wrap
		width: 27vw
		height: 27vw
	.section_1 .icon_group .icon_wrap .text_wrap
		width: 27vw
		height: 27vw

@media only screen and (max-width : 768px)

	.header-wrap .header-left h1
		font-size: 50px
	.main-head .form_wrap img
		display: none
	.btn_wrap .btn::before
		display: none
	.form_wrap 
		display: inline-block
	.main-head
		.wrap
			text-align: left
			.hamburger
				top: -146px
				right: 14px
				position: absolute
			.phone-wrap
				text-align: left
				padding-left: 30px
				.tel 
					font-family: Montserrat-Medium,sans-serif
					font-size: 19px
	.btn_wrap .btn 
		width: 302px
	h2 
		font-size: 36px
	.section_1, .section_10, .section_11, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8, .section_9
		padding-top: 0
	.section_1
		min-height: 807px
		&:before
			top: 342px
		.icon_group .icon_wrap .text_wrap
			padding: 0
			padding-top: 20px
	.section_1 .icon_group .icon_wrap .text_wrap span
		font-size: 30px
	.section_2 
		padding-top: 43px
	.section_2 .catalog_wrap .tab-content .content_wrap2 .nav-tabs2
		width: 100%
		margin: 0
		margin-bottom: 53px
	.section_2 .catalog_wrap .tab-content .content_wrap2 .nav-tabs2 li
		float: left
	.variable_wrap
		width: 100%
	.section_2 .btn_wrap .btn 
		width: 460px
		margin-top: 50px
	.section_3 .s_block
		padding-left: 12%
		padding-top: 10px
	.section_3
		min-height: 690px
		&:before
			display: none
	.section_4 .form_wrap img
		display: none
	.section_4 .form_wrap .form
		width: 90%
		margin-right: 0
		left: -5%
	.rectangle 
		width: 100%
		height: 510px
	.section_4 .s_block
		padding-left: 0
	.section_5 h2
		margin-top: 70px
	.section_5
		background: none
		padding-bottom: 70px
		.form_block .rectangle 
			width: 100%
			height: 569px
	.section_1, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8, .section_9, .section_10, .section_11
		&:before
			display: none
	.slider
		.slide
			.slide_content1, .slide_content3
				padding-top: 0
				img
					display: inline-block
			.slide_content2
				img
					display: inline-block
	.section_7 .tab_wrap .nav-tabs li
		float: none
	.section_8
		.cont_wrap
			.s_block 
				padding-left: 0
				padding-top: 0
				span
					position: static
		.btn_wrap
			.btn
				left: 0
				width: 99%
				span 
					position: absolute
		.image_wrap
			img 
				margin-top: 155px
	.section_10 .block_wrap .context_wrap .icon_wrap div 
		left: 0
	.section_11
		margin-top: 0
	.soc_wrap
		padding-top: 50px
	.footer 
		min-height: 200px
		padding-left: 25px

@media only screen and (width : 768px)

	.main-head
		.wrap
			.hamburger
				top: 0
				right: 0
				position: absolute
			.phone-wrap
				padding-left: 0
				padding-bottom: 30px
	.section_1 .icon_group .icon_wrap .text_wrap
		padding-top: 56px
	.slider .slide .slide_content1, .slider .slide .slide_content3
		padding-top: 80px
	.section_10 .block_wrap .context_wrap .icon_wrap div 
		left: 77px
	.section_2 .catalog_wrap .tab-content .content_wrap2 .variable_wrap img
		width: 470px
	.section_8
		.btn_wrap 
			text-align: center
			.btn
				width: 60%
	.section_3 .s_block
		padding-left: 26%
	.section_4 .s_block
		padding-left: 3%
	.section_8 .cont_wrap .s_block .block
		margin-left: 26%
	.close span
		right: -85px

@media only screen and (max-width : 480px)

	.section_2 .catalog_wrap .nav-wrap li 
		float: left
		width: 100%
	.section_1, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8, .section_9, .section_10, .section_11
		.btn_wrap
			span
				display: none
			.btn 
				width: 100%
				margin-right: 0
				font-size: 13.5px
				span
					display: none
	.variable_wrap .item_color 
		float: left
		text-align: left
	.section_5 .form_block .rectangle 
		height: 585px
	.section_8
		h2
			margin-bottom: 190px
		.bottom_block
			span 
			left: 27%
	.section_10
		.block_wrap 
			.context_wrap
				.icon_wrap
					p
						margin: 20px 0
					div 
						left: 39%
						top: -106px

	.section_8 .image_wrap img 
		display: none
	.section_8 .bottom_block span 
		bottom: 334px
		left: -17px
	.logo
		img
			margin-top: 30px
	.section_10
		min-height: 1020px
		.block_wrap
			.context_wrap
				.icon_wrap
					margin-bottom: 145px
	.footer
		padding-left: 0
		.logo_wrap p
			font-size: 10px
		.phone_wrap
			margin-bottom: 40px
	.section_11
		padding-bottom: 35px
	.section_2
		.catalog_wrap
			.tab-content
				.content_wrap2
					float: none
					text-align: center
					.nav-tabs2
						float: none
						width: 70%
						display: inline-block
					li
						float: none
						width: 100%
	.form_wrap
		width: 100%
		text-align: center
		.form
			width: 100%
			.btn
				width: 100%
	.section_1
		.icon_group
			padding-top: 40px
			.icon_wrap
				width: 39vw
				height: 39vw
				.text_wrap
					width: 39vw
					height: 39vw
	.section_2 .catalog_wrap .tab-content .slider_wrap
		margin-left: -28px
	.section_4 .form_wrap .form
		left: 0
		padding-bottom: 23px
	.section_5 .form_wrap .form
		left: 0
		padding-bottom: 18px

	.modalForm1, .modalForm2, .modalForm3
		.form
			width: 100%
		.btn_wrap
			.btn
				width: 90%
	.modalForm2 img, .modalForm3 img
		display: none
	.slider .slide .slide_content2 img
		width: 90%
	.modalForm1 .btn_wrap .btn span
		left: 14px
	.modalForm2 .btn_wrap .btn span
		left: 43px
	.modalForm3 .btn_wrap .btn span
		left: 43px

@media only screen and (max-width : 320px)

	.section_8 .bottom_block span 
		bottom: 372px
		left: -30px
	.section_10 
		min-height: 1093px
	.section_2 .catalog_wrap .title_wrap span
		margin-bottom: 20px
	.section_2 .catalog_wrap .tab-content .slider_wrap 
		margin-left: 11px
	.logo img 
		margin-top: 20px
	.section_6
		padding-bottom: 90px
	.section_5 .form_block .rectangle
		top: 7px
		height: 562px
	.section_10 .block_wrap .context_wrap .icon_wrap div 
		left: 33%
		top: -106px
	.modalForm1 .btn_wrap .btn span
		left: 17px
	.section_2 .btn_wrap .btn
		font-size: 12px



